# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/
build/

# misc
.DS_Store
*.log
*.pem

# environment files
.env*
!.env.example

# vercel
.vercel/

# typescript
*.tsbuildinfo

